body {
    background: #FEFCF3;
}

/* 헤더 */
.header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 999;
}

.header.on {}

.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    transform: translate(0, -50%);
    z-index: 999;
}

.gnb li {
    font-size: 0;
}

.gnb li a {
    position: relative;
    display: block;
    height: 30px;
    margin: 5px 0;
}

.gnb li a::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #6E8258;
    transition: 0.5s;
}

/* on */
.gnb li.on a::before {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/dandelion04\(20px\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ----- 메뉴 ----- */
.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: #333;
    color: #ddd;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;


    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
}


.cover.on {
    height: 100vh;
}


.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 999;
}

.mopen {
    position: fixed;
    inset: 50px 50px auto auto;
    z-index: 999;

    width: 30px;
    height: 30px;
    background: #f7f7f7;
}

.mopen::before,
.mopen::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #333;
}

.mopen::before {
    inset: 5px 5px auto 5px;
}

.mopen::after {
    inset: auto 5px 5px 5px;
}

.mopen.on::before {
    opacity: 0;
}

.mopen.on::after {
    opacity: 0;
}

.mopen button::before,
.mopen button::after {
    content: "";
    position: absolute;
    inset: 50% 5px auto 5px;
    height: 2px;
    background: #333;
}

.mopen button::before {
    transform: translate(0, -50%);
}

.mopen button::after {
    transform: translate(0, -50%);
}

.mopen.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.mopen.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}

.mopen button {
    font-size: 0;
    background: transparent;
    border: none;
    outline: none;
}

/*  */

/* ----- 메인 Intro 페이지 ----- */
#intro .mainBox {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#intro .title_container h2 {
    font-family: 'DM Serif Display', serif;
    color: #6E8258;
    font-size: 170px;
    font-weight: 700;
    margin-bottom: 20px;
}

#intro .title_container span {
    color: #333;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 5px;
    /* display: block; */
    font-family: 'Cafe24Danjunghae';
}

#intro .title_container strong {
    color: rgb(255, 187, 0);
}

#intro .title_container .my_name::before {
    content: "";
    display: inline-block;
    background: #333;
    width: 200px;
    height: 2px;
    margin: 0 10px 15px 20px;
}

#intro .circle_bg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-40px, 40px);
    z-index: -2;
}

#intro .circle_bg img {
    border-radius: 50%;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.7);

}

#intro .circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: rotate01 40s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate01 {
    100% {
        transform: rotate(360deg);
    }
}

/* ----- 페이지 ----- */
.bg_cover {
    display: flex;
    position: relative;
}

.left_wrap {
    width: 60%;
    height: 100vh;
    opacity: 0;
    transform: translate(-300px, 0);
    overflow: hidden;
    align-items: flex-start;
}

.section.on .left_wrap {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1s;
}

.right_wrap {
    width: 40%;
    height: 100vh;
    opacity: 0;
    transform: translate(300px, 0);
    overflow: hidden;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    background: #C5CEB9;
}

.section.on .right_wrap {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1.5s;
}

.flex_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ------left_wrap------ */
.dis_wrap {
    position: relative;
    margin: 0 0 0 100px;
}

/* --PC-- */
.desktop {
    background: url(../img/desktop01.png) no-repeat center center/cover;
    width: 900px;
    height: 500px;
    padding: 16px 90px 0px 93px;
}

.desktop .desktop_cover {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
}

.desktop_cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: 5s;
    transform: translate(0, 0);
}

.desktop_cover:hover img {
    transform: translate(0, calc(-100% + 420px));
}


/* --모바일-- */
.mobile {
    background: url(../img/mobile01.png) no-repeat center center/cover;
    width: 200px;
    height: 400px;
    padding: 12px 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 999;
}

.mobile .mo_cover {
    position: relative;
    width: 100%;
    height: 374px;
    border-radius: 15px;
    overflow: hidden;
}

.mo_cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: 5s;
    transform: translate(0, 0);
}

.mo_cover:hover img {
    transform: translate(0, calc(-100% + 420px));
}

.mobile {
    transform: translateY(-100px);
    opacity: 0;
}

.section.on .mobile {
    transform: translateY(0);
    opacity: 1;
    transition: 1s 2s;
}


/* ------right_wrap------ */
.content_wrap {
    position: relative;
}

.content_wrap .title {
    margin-bottom: 60px;
}

.content_wrap .title::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 0;
    height: 1px;
    margin: 20px 0 0 0;
}

.section.on .content_wrap .title::after {
    content: "";
    width: 100%;
    opacity: 1;
    transition: 1s 2s;
}

.content_wrap .title h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Cafe24Danjunghae';
}

.content_wrap .contents ul li {
    display: flex;
    flex-direction: column;
}

.content_wrap .contents ul li span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Cafe24Danjunghae';
    margin-bottom: 10px;
}

.content_wrap .contents ul li span:nth-child(2) {
    line-height: 20px;
    margin-bottom: 20px;
}


.link {
    width: 150px;
    height: 50px;
    border-radius: 80px;
    z-index: 999;
    border: 2px solid #6E8258;
}

.link:hover {
    color: #fff;
    background: #6E8258;
}

.link a {
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    font-family: 'Cafe24Danjunghae';
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    width: 150px;
}

.link a>i {
    font-size: 25px;
    margin-top: 10px;
}

.link:hover a>i {
    margin-left: 15px;
    transition: 0.5s;
}


* {
    outline: 1px --solid tomato;
}