:root {
    /* color */
    --mc: #333;
    --ac: #FEFCF3;
    --bc: #C5CEB9;
    --ec: #6E8258;
    --dc: #FFC437;
}

body {
    background: var(--ac);
    color: var(--mc);
}

/* --------HEADER-------- */
/* --------LOGO-------- */
.header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 998;
}


/* --------MENU-------- */
/* MENU BUTTON */
.mopen {
    position: fixed;
    inset: 50px 50px auto auto;
    z-index: 999;

    width: 40px;
    height: 30px;
    cursor: pointer;
}

.mopen span {
    position: absolute;
    left: 0;
    background: var(--ec);
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transition: 0.5s;
}

.mopen span:nth-child(1) {
    top: 0;
}

.mopen span:nth-child(2) {
    top: 50%;
}

.mopen span:nth-child(3) {
    top: 50%;
}

.mopen span:nth-child(4) {
    top: 100%;
}

.mopen.on span:nth-child(1) {
    opacity: 0;
}

.mopen.on span:nth-child(2) {
    transform: rotate(45deg);
}

.mopen.on span:nth-child(3) {
    transform: rotate(-45deg);
}

.mopen.on span:nth-child(4) {
    opacity: 0;
}

/* MENU COVER */
.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: var(--ac);
    z-index: 999;

    height: 0;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover.on {
    height: 100vh;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    background: var(--dc);
    width: 100%;
    height: 5px;
}

.cover::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--dc);
    width: 100%;
    height: 5px;
}

.cover ul {
    text-align: center;
}

.cover ul li {}

.cover ul li a {
    position: relative;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.5;
    padding: 0 50px;
    overflow: hidden;
}


.cover ul li a.font_fill {
    font-size: 50px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-fill-color: transparent;
}

.cover ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 50px;
    transition: all 0.2s ease-in-out;
    /* transition-duration: 0.3s; */
    opacity: 0;
    background-image: url(../img/cover_line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50px;
    z-index: -1;
    opacity: 0;
}

.cover ul li a:hover::after {
    width: 100%;
    height: 50px;
    opacity: 1;
}


/* --------FULLPAGE MENU-------- */
.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    transform: translate(0, -50%);
    z-index: 998;
}

.gnb li {
    font-size: 0;
}

.gnb li a {
    position: relative;
    display: block;
    height: 30px;
    margin: 5px 0;
}

.gnb li a::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--ec);
    transition: 0.5s;
}

/* on */
.gnb li.on a::before {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/dandelion04\(20px\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* --------UP SCROLL-------- */

.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    transform: translate(0, 0);
    z-index: 998;
    width: 52px;
    transition: 0.5s;
}

.toTop:hover {
    transform: translate(0, -30px);
}

/* ----- 메인 Intro 페이지 ----- */
#intro .mainBox {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#intro .title_container h2 {
    font-family: 'DM Serif Display', serif;
    color: var(--ec);
    font-size: 170px;
    font-weight: 700;
    margin-bottom: 20px;
}

#intro .title_container span {
    color: #333;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 5px;
    font-family: 'Cafe24Danjunghae';
}

#intro .title_container strong {
    color: var(--dc);
}

#intro .title_container .my_name::before {
    content: "";
    display: inline-block;
    background: #333;
    width: 200px;
    height: 2px;
    margin: 0 10px 15px 20px;
}

#intro .circle_bg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-40px, 40px);
    z-index: -2;
}

/* #intro .circle_bg img {
    border-radius: 50%;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.7);
} */

#intro .circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: rotate02 40s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate02 {
    100% {
        transform: rotate(360deg);
    }
}


/* --------------- 페이지 --------------- */
.bg_cover {
    display: flex;
    position: relative;
}

.left_wrap {
    width: 60%;
    height: 100vh;
    opacity: 0;
    transform: translate(-300px, 0);
    /* overflow: hidden; */
}

.section.on .left_wrap {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1s;
}

.right_wrap {
    width: 40%;
    height: 100vh;
    opacity: 0;
    transform: translate(300px, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    background: var(--bc);
}

.section.on .right_wrap {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1.5s;
}

.flex_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 999;

    width: 180px;
    height: 60px;
    background-image: url(../img/website.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 60px;
}

.link a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 70px;
    font-family: 'Cafe24Danjunghae';
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    padding: 0 15px 0 0;
}

.link a>i {
    font-size: 25px;
    margin-top: 20px;
}

.link:hover a>i {
    transition: 0.5s;
    transform: translateX(10px);
}

/* ------left_wrap------ */
.left_wrap .inner {
    position: relative;
}

/* --PC-- */
.desktop {
    background: url(../img/desktop01.png) no-repeat center center/cover;
    width: 900px;
    height: 500px;
    padding: 16px 90px 0px 93px;
}

.desktop .desktop_cover {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
}

.desktop_cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: 5s;
    transform: translate(0, 0);
}

.desktop_cover:hover img {
    transform: translate(0, calc(-100% + 420px));
}


/* --모바일-- */
.mobile {
    background: url(../img/mobile01.png) no-repeat center center/cover;
    width: 200px;
    height: 400px;
    padding: 12px 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 999;
}

.mobile .mo_cover {
    position: relative;
    width: 100%;
    height: 374px;
    border-radius: 15px;
    overflow: hidden;
}

.mo_cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: 5s;
    transform: translate(0, 0);
}

.mo_cover:hover img {
    transform: translate(0, calc(-100% + 420px));
}

.mobile {
    transform: translateY(-100px);
    opacity: 0;
}

.section.on .mobile {
    transform: translateY(0);
    opacity: 1;
    transition: 1s 2s;
}




/* ------right_wrap------ */

.right_wrap {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 0 0 200px;
}

.content_wrap {
    position: relative;
}

.content_wrap .title {
    margin-bottom: 60px;
}

.content_wrap .title::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 0;
    height: 1px;
    margin: 20px 0 0 0;
}

.section.on .content_wrap .title::after {
    content: "";
    width: 100%;
    opacity: 1;
    transition: 1s 2s;
}

.content_wrap .title h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Cafe24Danjunghae';
}

.content_wrap .contents ul li {
    display: flex;
    flex-direction: column;
}

.content_wrap .contents ul li span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Cafe24Danjunghae';
    margin-bottom: 10px;
}

.content_wrap .contents ul li span:nth-child(2) {
    line-height: 20px;
    margin-bottom: 20px;
}


/* --------------- ABOUT ME --------------- */
#about {
    /* background-image: url(../img/profile_bg01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: url(../img/cover_bg01.png) no-repeat center center;
    background-size: cover;
}

.mid_wrap {}

.about_inner {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding: 0 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: var(--bc); */
}

.about_inner h2 {
    font-family: 'Cafe24Danjunghae';
    text-align: center;
    font-size: 60px;

    margin-bottom: 30px;
}

.info_all {
    display: flex;
    justify-content: space-between;
}

.info_all .left_info img {
    border-radius: 50%;
    width: 360px;
}

.info_all .left_info {
    width: 50%;
}

.info_all .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hashtag {
    font-family: 'MYYeongnamnu';
    font-size: 30px;
    margin-bottom: 40px;
}

.hashtag span {
    display: block;
    margin-bottom: 10px;
}

.info_all .info ul li {
    display: flex;
    line-height: 30px;
}


.info_all .info .info_ul li p:nth-child(1) {
    width: 15%;
}

.info_all .info ul li p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    width: 160px;
}

.info_all .info ul li p:nth-child(2) {}

.info_all .info .info_ul {
    position: relative;
    margin-bottom: 40px;
}

.info_all .info .info_ul::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 100%;
    margin-top: 20px;
}


* {
    outline: 1px --solid tomato;
}